.feature {
    margin-top: 5rem;
    width: 20rem;
    display: grid;
    margin: auto;
    /* background: white; */
    padding: 1rem;
    /* border-radius: 2rem; */
    cursor: pointer;
}

.feature:hover {
    transform: scale(1.01);
    transition: .3s ease-in-out;
    /* background-color: #fff; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feature-back {
    background-color: #c88ee1;
}

.image {
    width: 18rem;
    height: 15rem;
    margin: auto;
    padding: 1.5rem;
    /* border-radius: 2rem; */
    background-image: url('../Images/9.jpg');
}

.image:hover {
    transform: scale(1.01);
    transition: .3s ease-in-out;
}

.feature h1 {
    font-weight: 500;
    margin-top: 1rem;
}

.feature p {
    font-size: 1.1rem;
    margin-top: 2rem;
}